.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--background-end-rgb));
  width: 100dvw;
  /* dvw, dvh는 가장 쉽게 전체 화면을 채울 수 있는 단위/ 이걸 쓰는 이유는 웹 뿐만 아니라 모바일 환경에서도 주소창이 있다가 없을 때 깨질 수 있는 ui의 문제를 해결 할 수 있기 때문이다. */
  height: 100dvh;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.right h2 {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.right h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.signup {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup:hover {
  background-color: rgb(26, 140, 216);
}
.login {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login:hover {
  background-color: rgba(29,155,240,0.1);
}
@media all and (min-width: 1000px) {
  /* 미디어쿼리: 조건문을 통해 실행하는거
     ex) @media all and (min-width:768px) and (max-width:1024px) -> 뷰포트 너비가 768px 이상 그리고 1024px 이하이면 {실행문} 실행 */
  .container {
      flex-direction: row;
      padding: 0;
  }
  .left {
      flex: 1;
      justify-content: center;
  }
  .left img {
      width: 450px;
      height: 550px;
  }
  .right {
      justify-content: center;
  }
  .right h1 {
      font-size: 64px;
  }
}